<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Calendar working</h1>
  <form method='post' action='/'>
    {{ form.hidden_tag() }}
    <div>{{ form.name.label }} {{ form.name }}</div>
    <div>{{ form.start_date.label }} {{ form.start_date }}</div>
    <div>{{ form.start_time.label }} {{ form.start_time }}</div>
    <div>{{ form.end_date.label }} {{ form.end_date }}

      {% if form.end_date.errors %}
      <ul class="errors">
        {% for error in form.end_date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
    <div>{{ form.end_time.label }} {{ form.end_time }}</div>
    <div>{{ form.description.label }} {{ form.description }}</div>
    <div>{{ form.private.label }} {{ form.private }}</div>
    <div>{{ form.submit }}</div>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2].strftime('%H:%M') }}</td>
        <td>{{ row[3].strftime('%H:%M') }}</td>
      </tr>
      {% endfor %}
      <!-- loop here to create rows -->
      <!-- use strftime to format date objects -->
      <!-- loop here to create rows -->
    </tbody>
  </table>

</body>

</html>
